@charset "UTF-8";
/*ここでは各パーショルファイルを＠useしてください。*/
/*クラス定義 (これより下を消す)*/
/*ここでは各ファイルで使用する変数を定義してください。*/
h3 {
  font-size: 2.3rem;
}

h2 {
  font-size: 3rem;
}

/*ここでは各パーショルファイルを＠useしてください。*/
/*クラス定義 (これより下を消す)*/
/*クラス定義 (これより下を消す)*/
#jump1, #jump2, #jump3, #jump4 {
  scroll-margin-top: 94px;
}

.section1 {
  text-align: center;
  background-color: #e6fdff;
  padding-bottom: 100px;
}
.section1 span {
  color: #00bbc9;
}
.section1 .st1 {
  font-size: 32px;
}
.section1 img {
  margin: auto;
  display: block;
  width: 25%;
  margin-top: 20px;
  margin-bottom: 40px;
}
.section1 h3 {
  padding-bottom: 20px;
}
.section1 p {
  margin-top: 20px;
  font-size: 2rem;
  line-height: 1.7;
  font-weight: bold;
}

.section2 {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.section2 h2 {
  margin-top: 30px;
  letter-spacing: 0.4rem;
  font-size: 48px;
  font-weight: 700;
}
.section2 span {
  color: #00bbc9;
}

@media (min-width: 993px) {
  .section2 .pcsc2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
    max-width: 1260px;
    margin: 40px auto;
  }
  .swiper {
    display: none;
  }
  .pcsc2-slide {
    position: relative;
    background: linear-gradient(0deg, #92f5ee 0%, #54cadc 100%);
    width: 500px;
    height: 1000px;
    overflow: hidden;
  }
  .pcsc2-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 横幅を枠いっぱいに */
    height: auto; /* 縦は自動調整 */
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.section3 {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #ffffff;
  background-image: radial-gradient(circle, #83eae9 2.5px, transparent 2.5px);
  background-position: 0 0;
  background-size: 40px 40px;
}
.section3 h2 {
  letter-spacing: 0.3em;
  padding-top: 10px;
  padding-bottom: 40px;
}
.section3 span {
  color: #00bbc9;
}
.section3 .shiro {
  color: #ffffff;
  padding: 30px;
}
.section3 img {
  padding-top: 50px;
  width: 20%;
}
.section3 .tabs__nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.section3 .someTabs {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
.section3 .tabs__content {
  display: none;
}
.section3 .tabs__content.active {
  display: block;
  background: linear-gradient(0deg, #92f5ee 0%, #54cadc 100%);
}
.section3 .tabs__content ul {
  list-style: none;
  counter-reset: item;
  padding-left: 4.5rem;
  padding-right: 1.5rem;
  padding-bottom: 70px;
  margin: 3rem;
}
.section3 .tabs__content ul li {
  counter-increment: item;
  position: relative;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  letter-spacing: 0.2rem;
  line-height: 1.3;
}
.section3 .tabs__content ul li::before {
  content: counter(item);
  position: absolute;
  color: #e6fdff;
  left: -4rem;
  top: 50%;
  font-weight: bold;
  font-size: 4.5rem;
  transform: translateY(-50%);
  opacity: 0.7;
}
.section3 .tabs__item.active {
  background-color: #5ED1DF;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  padding-top: 30px;
  padding-bottom: 30px;
}
.section3 .tabs__item {
  background-color: #EFEFEF;
  color: #383838;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 30px 0;
  flex: 1;
  text-align: center;
  border-radius: 8px 8px 0 0;
}
.section3 .tabs__item:visited,
.section3 .tabs__item:focus {
  text-decoration: none;
}
.section3 .tabs__item:hover {
  text-decoration: none;
  opacity: 0.7;
}

.section4 {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: #f5f5f5;
}
.section4 h2 {
  padding-bottom: 80px;
  letter-spacing: 0.2em;
}
.section4 p {
  letter-spacing: 0.2em;
  line-height: 1.6;
  font-weight: bold;
}

.ao {
  color: #00bbc9;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 80px;
}

.card h3 {
  background-color: #00bbc9;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 8px;
}

.list {
  line-height: 1.8;
}

.card {
  background-color: #ffffff;
  border: 2px solid #00bbc9;
  border-radius: 15px;
  width: 480px;
  margin: 0;
}

.list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  gap: 10px;
  font-size: 13px;
  margin-top: 18px;
}

.company {
  flex: 0.1 0 180px;
  font-weight: bold;
  color: gray;
  text-align: left;
  margin-left: 15px;
}

.models {
  flex: 2;
  text-align: left;
  margin-left: 20px;
}

.lidot {
  flex: 0 0 10px;
  letter-spacing: -10px;
  font-size: 20px;
  margin-top: -6px;
}

.section5 {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #e6fdff;
}
.section5 h2 {
  padding-bottom: 50px;
  letter-spacing: 0.1em;
  font-size: 2.5rem;
}

.ao5 {
  color: #00bbc9;
}

.sc5li {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sc5li1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sc5li1 img {
  width: 70%;
}

.sc5li1 img:hover {
  opacity: 0.7;
}

.sc5li1 p {
  margin-top: auto;
  padding-top: 20px;
  font-size: 13px;
  color: #383838;
  align-self: flex-end;
  padding-right: 50px;
}

.sc5cp {
  padding-top: 30px;
  text-align: left;
  font-size: 13px;
  color: #383838;
  line-height: 1.8;
  display: inline-block;
  padding-left: 520px;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  position: relative;
  display: inline-block;
}

#modal-content {
  max-width: 50vw;
  max-height: 50vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.close {
  position: absolute;
  top: -40px;
  right: 0px;
  font-size: 32px;
  color: #ffffff;
  z-index: 999999;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.section6 {
  padding-top: 80px;
  text-align: center;
  align-items: center;
  padding-bottom: 80px;
  background-image: radial-gradient(circle, #93efff 3px, transparent 3px), linear-gradient(0deg, #92f5ee 0%, #54cadc 50%);
  background-position: 0 0;
  background-size: 30px 30px, auto;
  background-repeat: repeat, no-repeat;
}
.section6 img {
  width: 18%;
}
.section6 h2 {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 40px;
  letter-spacing: 0.7rem;
  font-size: 3.5rem;
}
.section6 p {
  line-height: 1.6;
  color: #383838;
  font-weight: bold;
}

.sc6bt1,
a.sc6bt1 {
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: #ffffff;
  background: #f87aac;
  border-radius: 100vh;
  padding: 2.8rem;
  width: 630px;
  margin-top: 50px;
  letter-spacing: 0.2rem;
}

.sc6bt2,
a.sc6bt2 {
  display: inline-flex;
  justify-content: center;
  gap: 1.5rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: #ffffff;
  background: #00bbc9;
  border-radius: 100vh;
  padding: 2.8rem;
  width: 630px;
  margin-top: 25px;
  letter-spacing: 0.2rem;
}

.sc6bt1:hover,
.sc6bt2:hover {
  opacity: 0.7;
}

.lastcp {
  margin-left: 50%;
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .section1 {
    text-align: center;
    background-color: #e6fdff;
    padding-bottom: 50px;
  }
  .section1 span {
    color: #00bbc9;
  }
  .section1 img {
    margin: auto;
    display: block;
    width: 70%;
    margin-bottom: 20px;
  }
  .section1 h3 {
    padding-bottom: 20px;
    line-height: 1.7;
    letter-spacing: 0.1rem;
    margin: auto;
    font-size: 1.2rem;
    width: 80%;
    font-weight: bold;
    text-align: center;
  }
  .section1 p {
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.7;
    width: 90%;
    margin: auto;
    letter-spacing: 0.05rem;
  }
  .section1 .st1 {
    font-size: 28px;
    letter-spacing: 0.1rem;
  }
  .section2 {
    padding-top: 50px;
    background-color: #ffffff;
    background-image: radial-gradient(circle, #83eae9 1px, transparent 1px);
    background-position: 0 0;
    background-size: 20px 20px;
  }
  .section2 h3 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
  .section2 h2 {
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
  }
  .section2 .pcsc2 {
    display: none;
  }
  .section2 .swiper {
    display: block;
    width: 100%;
    margin: 2rem auto 2rem;
    position: relative;
  }
  .swiper-slide {
    width: 75%;
    background: linear-gradient(45deg, #92f5ee 0%, #54cadc 100%);
    position: relative;
    height: auto;
  }
  .swiper-slide img {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  /* デフォルト削除 */
  .swiper .swiper-button-prev::after,
  .swiper .swiper-button-next::after {
    content: "" !important;
  }
  .swiper-button-prev svg,
  .swiper-button-next svg {
    display: none !important;
  }
  /* 矢印 */
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  .swiper-button-prev::before {
    content: "";
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 10px solid #fff;
  }
  .swiper-button-next::before {
    content: "";
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #fff;
  }
  .swiper-button-prev {
    left: -15px;
  }
  .swiper-button-next {
    right: -15px;
  }
  .swiper-container {
    position: relative;
  }
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 8px !important;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid #383838;
  }
  .swiper-pagination-bullet-active {
    background-color: #00bbc9;
    opacity: 1;
    border: 1px solid #00bbc9;
  }
  .swiper-pagination {
    bottom: -35px !important;
  }
  .section3 {
    background-image: radial-gradient(circle, #83eae9 1px, transparent 1px);
    background-position: 0 0;
    background-size: 20px 20px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .section3 h3 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
  .section3 h2 {
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    padding-bottom: 20px;
  }
  .section3 .shiro {
    font-size: 1.5rem;
  }
  .section3 .tabs__content ul li::before {
    content: counter(item);
    position: absolute;
    color: #e6fdff;
    left: -3rem;
    top: 50%;
    font-weight: bold;
    font-size: 3rem;
    transform: translateY(-50%);
  }
  .section3 .tabs__item {
    font-size: 1rem;
    padding: 20px 0;
  }
  .section3 .tabs__item.active {
    font-size: 1rem;
    padding: 20px 0;
  }
  .section3 .someTabs {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .section3 img {
    width: 30%;
  }
  .section3 .tabs__content ul {
    margin-left: 0rem;
    margin-right: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: 10px;
  }
  .section3 .tabs__content ul li {
    font-size: 0.7rem;
    padding: 1.2rem;
    line-height: 1.7;
    letter-spacing: 0.1rem;
  }
  .section3 .tabs__content ul li p {
    font-size: 0.6rem;
    font-weight: 200;
  }
  .section4 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section4 h2 {
    padding-bottom: 30px;
    font-size: 1.8rem;
    margin: 0 auto;
    width: 70%;
    line-height: 1.4;
  }
  .section4 .ao {
    display: inline-block;
  }
  .section4 p {
    width: 70%;
    margin: 0 auto;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: left;
  }
  .section4 .container {
    padding-top: 40px;
  }
  .list-item {
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 0px;
    font-size: 0.7rem;
  }
  .list-item .company {
    max-width: 45%;
    margin-left: 10px;
  }
  .list-item .lidot {
    font-size: 0.6rem;
    max-width: 15%;
    padding-top: 8px;
    letter-spacing: -3px;
  }
  .list-item .models {
    max-width: 40%;
    margin-right: 10px;
  }
  .accordion {
    display: block;
    cursor: pointer;
    transition: 0.5s ease-in;
    position: relative;
  }
  .accordion span {
    display: block;
  }
  .accordion h3 {
    line-height: 1.4;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    border: 2px solid #00bbc9;
    border-radius: 15px;
    text-align: left;
    padding-left: 30px;
  }
  .accordion span {
    display: block;
  }
  .accordion:before {
    content: "";
    width: 12px;
    height: 2px;
    background: #00bbc9;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  .accordion.active {
    margin-bottom: 0;
  }
  .accordion.active h3 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card {
    width: 85%;
    background-color: none;
    border: none;
  }
  .card h3 {
    padding: 20px 30px;
  }
  /* アコーディオン閉じているとき（.active がつかないとき）は線なし */
  .accordion + .list {
    border: none;
  }
  /* 開いたときだけ線を付ける */
  .accordion.active + .list {
    border: 2px solid #00bbc9;
  }
  .list {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-out;
    background-color: #ffffff;
    width: 99.3%;
    line-height: 1.8;
    background-color: #ffffff;
    border: 2px solid #00bbc9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  p.list {
    padding: 10px 20px;
    margin: 0 0 15px;
    position: relative;
    padding-left: 60px;
  }
  p.list:before {
    position: absolute;
  }
  .container {
    position: relative;
  }
  .accordion:hover {
    opacity: 0.7;
  }
  .accordion:after {
    content: "+";
    font-size: 1.5rem;
    font-weight: bold;
    color: #00bbc9;
    background: #ffffff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #00bbc9;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-46%);
  }
  .accordion:after,
  .accordion:before {
    pointer-events: none;
  }
  .accordion.active:after {
    content: "-";
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: end;
    color: #00bbc9;
  }
  .section5 h2 {
    width: 70%;
    margin: 0 auto;
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    line-height: 1.4;
  }
  .sc5li {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
  }
  .sc5li p {
    font-size: 0.5rem;
  }
  .sc5cp {
    margin-top: 15px;
    text-align: left;
    color: #383838;
    line-height: 1.8;
    padding: 3%;
    width: 85%;
  }
  p {
    font-size: 0.8rem;
  }
  .section5 {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  #modal-content {
    max-width: 90vw;
    max-height: 90vh;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .section6 h2 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }
  .section6 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: radial-gradient(circle, #aff4ff 2px, transparent 2px), linear-gradient(0deg, #92f5ee 0%, #54cadc 50%);
    background-size: 20px 20px, auto;
  }
  .section6 .lastcp {
    margin-top: 20px;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 0.6rem;
    font-weight: 400;
  }
  .section6 p {
    width: 85%;
    font-size: 1rem;
    text-align: left;
    margin: 0 auto;
    letter-spacing: 0.05rem;
  }
  .section6 img {
    width: 60%;
  }
  .sc6bt1,
  a.sc6bt1 {
    margin-top: 30px;
    width: 75%;
    font-size: 1rem;
    gap: 0.5rem;
    letter-spacing: 0.1rem;
    padding: 2rem;
  }
  .sc6bt2,
  a.sc6bt2 {
    margin-top: 30px;
    width: 75%;
    font-size: 1rem;
    gap: 0.5rem;
    letter-spacing: 0.1rem;
    padding: 2rem;
  }
}
/*ここでは各パーショルファイルを＠useしてください。*/
/*クラス定義 (これより下を消す)*/
/*クラス定義 (これより下を消す)*/
html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 999;
  font-weight: 700;
  font-style: bold;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 20px 0;
  max-width: 1084px;
}

.logo {
  width: 20%;
  margin-right: 20%;
}

.hdicon1,
.hdicon2 {
  display: none;
}

.hamburger {
  display: none;
}

.hdmenu:hover,
.logo:hover,
.hdmenubutton:hover {
  opacity: 0.7;
}

a.hdmenu {
  text-decoration: none;
  color: #00bbc9;
}

.hdmenubutton,
a.hdmenubutton {
  display: inline-flex;
  text-align: center;
  gap: 1rem;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border: 3px solid #00bbc9;
  border-radius: 100vh;
  background-color: #ffffff;
  color: #00bbc9;
  padding: 1rem 2rem;
}

.hdmenubutton.change {
  background-color: #f87aac;
  color: #ffffff;
  border-color: #f87aac;
}

.header__nav {
  position: static; /* これにする */
  height: auto;
}

.nav__items {
  display: flex;
  gap: 2rem; /* ← 等間隔にしたい幅を調整 */
  align-items: center;
}

.nav__items li {
  list-style: none;
}

.nav__download {
  display: none; /* PCでは非表示 */
}

@media (max-width: 992px) {
  .header-inner {
    display: flex; /*ロゴとハンバーガーメニューを横に並べる*/
    align-items: center;
    justify-content: space-between;
    height: 55px; /*親要素の高さを継承*/
    position: relative;
    max-width: 100%;
    padding: 0;
  }
  /* ヘッダーのロゴ部分 */
  .logo {
    width: 133px;
    padding-left: 1.5rem;
    margin-right: 50px;
    display: block;
  }
  .hdicon1 {
    color: #00bbc9;
    align-items: center;
    border: 1.5px solid #00bbc9;
    font-size: 19px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
  .hdicon2 {
    color: #00bbc9;
    align-items: center;
    border: 1.5px solid #00bbc9;
    font-size: 19px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
  .hdicon1.change {
    background-color: #f87aac;
    color: #ffffff;
    border-color: #f87aac;
  }
  .hdicon2.change {
    background-color: #f87aac;
    color: #ffffff;
    border-color: #f87aac;
  }
  .hdicon1:hover,
  .hdicon2:hover {
    opacity: 0.7;
  }
  .header__title img {
    display: block;
    width: 100%;
    height: 100%;
  }
  /* ヘッダーのナビ部分 */
  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    transform: translateX(100%);
    background-color: #fff;
    transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
    z-index: 9998;
    opacity: 0;
    visibility: hidden; /* ← 非表示扱いにする */
  }
  .header__nav.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible; /* ← 表示状態 */
  }
  /* ハンバーガーメニュー */
  .header__hamburger {
    width: 30px;
    height: 80px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hamburger {
    display: block;
    background-color: transparent;
    border-color: transparent;
    overflow: visible;
  }
  .hamburger span {
    width: 38px;
    height: 4px;
    background-color: #00bbc9;
    display: block;
    margin: 5px 0;
    transition: all 0.4s ease;
    transform-origin: center; /* ★回転の中心を中央に */
    position: relative;
    z-index: 9999;
  }
  .hamburger span:nth-child(1) {
    top: 0;
  }
  .hamburger span:nth-child(2) {
    margin: 10px 0;
  }
  .hamburger span:nth-child(3) {
    top: 0;
  }
  .header__nav.active {
    transform: translateX(0);
  }
  .hamburger.active span:nth-child(1) {
    top: 15px;
    transform: rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
  }
  .nav-items {
    display: flex;
    flex-direction: column; /* ← 縦並びに */
    align-items: flex-start; /* ← 左揃え */
    margin-top: 150px;
    padding: 20px 20px;
    gap: 0rem;
  }
  .nav__items li {
    margin-bottom: 30px;
    font-size: 2rem;
  }
  a.hdmenubutton {
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    color: #ffffff;
    gap: 0.5rem;
    font-size: 1rem;
    border: 2px solid #f87aac;
    border-radius: 100vh;
    padding: 1.5rem 1rem;
    background-color: #f87aac;
    width: 100%;
  }
  a.hdmenubutton:hover {
    opacity: 0.7;
  }
  .nav__download {
    display: block; /* スマホでは表示 */
    text-align: center;
  }
  .nav__download a {
    display: inline-flex;
    text-decoration: none;
    color: #ffffff;
    gap: 0.5rem;
    font-size: 1rem;
    border: 2px solid #00bbc9;
    border-radius: 100vh;
    padding: 1.5rem 1rem;
    background-color: #00bbc9;
    justify-content: center;
    width: 100%;
    margin-top: -1rem;
  }
  .nav__download a:hover {
    opacity: 0.7;
  }
  /* ナビのリンク */
  .hdmenu {
    color: #00bbc9;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1rem;
  }
  .header__nav .hdmenu:hover {
    opacity: 0.7;
  }
  .hdmenu:last-child {
    margin-bottom: 0;
  }
}
/*ここでは各パーショルファイルを＠useしてください。*/
/*クラス定義 (これより下を消す)*/
/*クラス定義 (これより下を消す)*/
.footer {
  background-color: rgb(201, 201, 201);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 992px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer p {
    font-size: 0.6rem;
  }
}
/*ここでは各パーショルファイルを＠useしてください。*/
/*クラス定義 (これより下を消す)*/
/*クラス定義 (これより下を消す)*/
.mainvisual {
  width: 100%;
  height: auto;
  aspect-ratio: 1090/781;
  background-image: url(../img/top-mv-pc@2x.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100% auto;
  background-color: #e6fdff;
}

.mv {
  display: flex;
  max-width: 1084px;
  justify-content: space-between;
  padding-top: 50px;
  gap: 50px;
  margin: 0 auto;
}

.mainvileft {
  max-width: 100%;
  margin-top: 150px;
  color: #ffffff;
}
.mainvileft h3 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.8;
}
.mainvileft h2 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 40px;
  letter-spacing: 0.8;
}

.title-dots {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.8;
  color: #00bbc9;
  margin-top: -10px;
}

.spimg {
  display: none;
}

.mainviright {
  margin-top: 180px;
}
.mainviright img {
  max-width: 80%;
}

.mainviicon {
  color: #00bbc9;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: 15px;
  margin-top: 20px;
}

.mainviiconmaru {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 125px;
  background-color: #ffffff;
  border-radius: 50%;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

.mvbutton {
  display: flex;
  max-width: 960px;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.mvbutton a {
  margin-top: 50px;
}

.mvbutton1,
a.mvbutton1 {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  gap: 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
  background: #00bbc9;
  border-radius: 100vh;
  padding: 2.5rem 100px;
  width: 410px;
}

.mvbutton2,
a.mvbutton2 {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  gap: 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
  background: #f87aac;
  border-radius: 100vh;
  padding: 2.5rem 100px;
  width: 410px;
}

.mvbutton1:hover,
.mvbutton2:hover {
  opacity: 0.7;
}

@media screen and (max-width: 992px) {
  .mainvisual {
    width: 100%;
    height: auto;
    aspect-ratio: 473/781;
    background-image: url(../img/top-mv-sp@2x.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #e6fdff;
  }
  .mv {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    padding-top: 0px;
    gap: 0px;
  }
  .mainviright {
    display: none;
  }
  .spimg {
    display: flex;
    justify-content: center;
  }
  .spimg img {
    max-width: 60%;
  }
  .mainvileft {
    max-width: 100%;
    margin-top: 150px;
    color: #ffffff;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 80px;
    position: relative;
    z-index: 5;
  }
  .mainvileft h3 {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
  }
  .mainvileft h2 {
    line-height: 1.2;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.2rem;
  }
  .title-dots {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    padding-top: 6px;
    padding-bottom: 15px;
  }
  .mainviicon {
    color: #00bbc9;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
  }
  .mainviiconmaru {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 1.7;
  }
  .mvbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    letter-spacing: 0.1rem;
    margin-top: 15px;
  }
  .mvbutton a {
    margin-top: 0;
  }
  .mvbutton1,
  a.mvbutton1,
  .mvbutton2,
  a.mvbutton2 {
    text-align: center;
    font-size: 0.7rem;
    padding: 1.3rem 1rem;
    gap: 10px;
    width: 35%;
  }
}/*# sourceMappingURL=style.css.map */